@media screen and (max-width: 1199px) {
.img-section {
    display: none;
}
}

.img-section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.img-title-items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.img-title-list{
    &:not(:last-child) {
    margin-right: 30px;
}
}
.img-container {
    position: relative;
    z-index: -2;
}

.img-container-text {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

}

.img-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-text-color);

}

