:root {
    --text-font: "Roboto", sans-serif; 
    --logo-font: "Raleway", sans-serif;
    --text-color:  #212121 ;
    --second-text-color: #757575;
    --third-text-color: #FFFFFF;
    --active-color: #2196F3 ;
    --banner-footer-background: #2F303A;
    --footer-contact-color: #ffffff99;
    --buuton-portfolio-background: #F5F4FA;
    --border-line-color: #ECECEC;
    --border-galerry-color: #eeeeee;
    --social-fill-color: #AFB1B8;
}
